<div class="halo-sidebar halo-sidebar-left halo-sidebar_menu {% if settings.mobile_menu == 'custom' %}custom-mobile-menu{% endif %}" id="navigation-mobile">
    <div class="halo-sidebar-wrapper custom-scrollbar">
      {%- if settings.mobile_menu == 'default' -%}
        <div class="site-nav-mobile nav-menu-tab"></div>
        <div class="site-nav-mobile nav" data-navigation-mobile>
          <div class="menu-heading-mobile halo-sidebar-header">
            <span class="title">{{ 'general.common.menu' | t }}</span>
            <button type="button" class="halo-sidebar-close" data-menu-close-sidebar aria-label="{{ 'general.common.close' | t }}">{% render 'icon-close' %}{{ 'general.common.close' | t }}</a>
          </div>
          <ul class="list-menu-loading" role="list">
            {%- for i in (1..8)-%}
              <li class="list-menu-loading__item"></li>
            {%- endfor -%}
          </ul>
        </div>
      {%- else -%}
        <div class="site-nav-mobile nav-menu-tab nav-mobile-menu-tab" data-navigation-tab-mobile></div>
        <button type="button" class="halo-sidebar-close halo-sidebar-close-custom" data-menu-close-sidebar aria-label="{{ 'general.common.close' | t }}">{% render 'icon-close' %}{{ 'general.common.close' | t }}</button>
        <div class="site-nav-mobile nav menu-custom-mobile" data-navigation-mobile></div>
        <ul class="list-menu-loading" role="list">
          {%- for i in (1..9)-%}
            <li class="list-menu-loading__item"></li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      
      {%- if settings.mobile_menu == 'default' -%}
        <div class="site-nav-mobile nav-account">
          {%- if shop.customer_accounts_enabled -%}
              <div class="customer-links {% if customer %}customer-login{% endif %} {%- unless settings.show_wishlist -%}last-link{% endunless %}">
                {%- if customer -%}
                  <span class="icon-wrapper">{% render 'icon-account' %}</span>
                  <a class="header__link--account customer_logount" id="customer_logout_link" href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
                  <span>/</span>
                  <a class="header__link--account customer_acc" href="{{ routes.account_url }}">{{ 'customer.account.my_account' | t }}</a>
                {%- else -%}  
                  <a class="header__link--account customer_login_link" href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"><span class="icon-wrapper">{% render 'icon-account' %}</span><span class="title">{{ 'customer.sign_in' | t }}</span></a>
                  <a class="header__link--account{% unless settings.show_wishlist %} last-link{% endunless %} customer_register_link" href="{{ routes.account_register_url }}"><span class="icon-wrapper">{% render 'icon-sign-up' %}</span><span class="title">{{ 'customer.create_account' | t }}</span></a>
                {%- endif -%}                                   
            </div>
          {%- endif -%}
          {%- if settings.show_wishlist -%}
              <a href="{{ pages['wish-list'].url }}" class="header__icon header__icon--wishlist link link--text focus-inset last-link"><span class="icon-wrapper">{% render 'icon-wishlist' %}</span><span class="title">{{ 'wishlist.general.title' | t }}</span></a>
          {%- endif -%}
          <div class="wrapper-links"></div>
        </div>
         <div class="catalogue-mobile d-none">
          <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M80 368H16a16 16 0 0 0 -16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0 -16-16zm0-320H16A16 16 0 0 0 0 64v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16V64a16 16 0 0 0 -16-16zm0 160H16a16 16 0 0 0 -16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0 -16-16zm416 176H176a16 16 0 0 0 -16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0 -16-16zm0-320H176a16 16 0 0 0 -16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0 -16-16zm0 160H176a16 16 0 0 0 -16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0 -16-16z"/></svg> 
               <a href="/pages/product-price-list" class="link link--text">
                 <span class="title">Product Price Sheet</span>
               </a>
          </div>
         </div>
        <div class="catalogue-mobile">
          <div>
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="fill:transparent">
                <path stroke-linecap="round" stroke-linejoin="round" d="m9 13.5 3 3m0 0 3-3m-3 3v-6m1.06-4.19-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
               </svg> 
               <a href="https://cdn.shopify.com/s/files/1/0644/4410/4888/files/alpine_rios_2023-24_catalogue_jan2cp-sml.pdf?v=1709534723" class="link link--text" target="_blank">
                 <span class="title">Download Catalogue</span>
               </a>
          </div>
         </div>
      {%- endif -%}
      <div class="site-nav-mobile nav-currency-language p-relative"></div>
    </div>
</div>

